USE [master]
GO
/****** Object:  Database [SQLQLTC]    Script Date: 5/24/2019 12:29:29 PM ******/
CREATE DATABASE [SQLQLTC]

CREATE TABLE [dbo].[DICHVU](
	[IDDV] [int] NOT NULL,
	[TENDV] [nvarchar](255) NULL,
	[DONGIA] [decimal](19, 4) NULL,
	[MOTA] [nvarchar](1024) NULL,
	[GHICHU] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU_THUCDON]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU_THUCDON](
	[IDDV] [int] NOT NULL,
	[IDTD] [int] NOT NULL,
 CONSTRAINT [PK_TCVADV] PRIMARY KEY CLUSTERED 
(
	[IDDV] ASC,
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[IDHD] [int] NOT NULL,
	[SLMONAN] [int] NULL,
	[SLDV] [int] NULL,
	[TONGTIEN_DVAM] [decimal](19, 4) NULL,
	[TTTHANHTOAN] [decimal](19, 4) NULL,
	[SOTIENDATCO] [decimal](19, 4) NULL,
	[QUYDINH] [nvarchar](1024) NULL,
	[ID_TIECCUOI] [int] NULL,
	[ID_KHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKH] [int] NOT NULL,
	[TENKHACHHANG] [nvarchar](255) NULL,
	[SOCMND] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[IDMA] [int] NOT NULL,
	[TENMON] [nvarchar](255) NULL,
	[LOAI] [nvarchar](64) NULL,
	[DONGIA] [decimal](19, 4) NULL,
	[GHICHU] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[IDTD] [int] NOT NULL,
	[TONGTIEN] [decimal](19, 4) NULL,
	[GHICHU] [nvarchar](1024) NULL,
	[ID_TIECCUOI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON_MONAN]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON_MONAN](
	[IDTD] [int] NOT NULL,
	[IDMA] [int] NOT NULL,
 CONSTRAINT [PK_TDVAMA] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC,
	[IDMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIECCUOI]    Script Date: 5/24/2019 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIECCUOI](
	[IDTC] [int] NOT NULL,
	[TENCHURE] [varchar](255) NULL,
	[TENCODAU] [varchar](255) NULL,
	[NGAY] [date] NULL,
	[CA] [bit] NULL,
	[ID_KHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HOPDONG__5031DD4CA526F77F]    Script Date: 5/24/2019 12:29:30 PM ******/
ALTER TABLE [dbo].[HOPDONG] ADD UNIQUE NONCLUSTERED 
(
	[ID_TIECCUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__THUCDON__5031DD4CADF626A3]    Script Date: 5/24/2019 12:29:30 PM ******/
ALTER TABLE [dbo].[THUCDON] ADD UNIQUE NONCLUSTERED 
(
	[ID_TIECCUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD FOREIGN KEY([ID_TIECCUOI])
REFERENCES [dbo].[TIECCUOI] ([IDTC])
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD FOREIGN KEY([ID_TIECCUOI])
REFERENCES [dbo].[TIECCUOI] ([IDTC])
GO
ALTER TABLE [dbo].[TIECCUOI]  WITH CHECK ADD FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
USE [master]
GO
